@model ProyectoVialidadASP.Models.Location

@{
    Layout = null;
    string SelectOne = "", SelectTwo = "";
    switch (Model.Parking)
    {
        case "No Tarifado": SelectOne = "selected"; break;
        case "Tarifado": SelectTwo = "selected"; break;
        default:
            break;
    }
    string latitude = Model.Latitude, lenght = Model.Longitude, latitudeTwo, lenghtTwo;

    if (Model.EndLatitude == "0" && Model.EndLongitude == "0")
    {
        latitudeTwo = latitude;
        lenghtTwo = lenght;
    }
    else
    {
        latitudeTwo = Model.EndLatitude;
        lenghtTwo = Model.EndLongitude;
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Añadir Nuevo Parqueo</title>
    <link rel="stylesheet" href="~/Style/StyleIndex/SLocations.css">
    <!-- GOOGLE FONTs -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- ANIMATE CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
</head>
<body>

    <form action="/Locations/UpdateLocationRedirect" method="post" enctype="multipart/form-data">
        <section>
            <div class="container">
                <h2>Modificar Parqueo</h2>
                <div class="row100">
                    <div class="col">
                        <div class="inputBox">
                            <input type="text" name="name" value="@Model.Name" required>
                            <span class="text">Nombre del Parqueo</span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputBox">
                            <input type="text" name="nameStreet" value="@Model.NameStreet" required>
                            <span class="text">Nombres de las calles</span>
                            <span class="line"></span>
                        </div>
                    </div>

                </div>
                <h3>Punto Inicio</h3>
                <div class="row100">
                    <div class="col">
                        <div class="inputBox">
                            <input type="number" name="latitude" value="@Model.Latitude" id="latitude" step="0.000000000000001" required readonly>
                            <span class="text tdisabled">Latitud</span>
                            <span class="line ldisabled"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputBox">
                            <input type="number" name="lenght" value="@Model.Longitude" id="lenght" step="0.000000000000001" required readonly>
                            <span class="text tdisabled">Longitud</span>
                            <span class="line ldisabled"></span>
                        </div>
                    </div>
                </div>
                <div id="dataTwo" style="display:none">
                    <h3>Punto Final</h3>
                    <div class="row100">
                        <div class="col">
                            <div class="inputBox">
                                <input type="number" name="latitudeTwo" minlength="9" maxlength="10" value="@latitudeTwo" id="latitudeTwo" step="0.000000000000001" readonly>
                                <span class="text tdisabled">Latitud</span>
                                <span class="line ldisabled"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="inputBox">
                                <input type="number" name="lenghtTwo" minlength="9" maxlength="10" value="@lenghtTwo" id="lenghtTwo" step="0.000000000000001" readonly>
                                <span class="text tdisabled">Longitud</span>
                                <span class="line ldisabled"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row100">
                    <div class="col">
                        <div>
                            <div style="width: 100%; height: 50vh;" id="map"></div>
                        </div>
                    </div>
                </div>
                <div class="row100">
                    <div class="col">
                        <div class="inputBox text">
                            <select id="Select" style="width:100%;padding:10px 20px;outline:none;font-size:15px;" onchange="seleccionar()" name="Select">
                                <option id="one" value="No Tarifado" @SelectOne>No Tarifado</option>
                                <option id="two" value="Tarifado" @SelectTwo>Tarifado</option>
                            </select>
                            <span class="text tdisabled">Tipo</span>

                        </div>
                    </div>
                    <div class="col">
                        <div class="inputBox">
                            <input type="number" name="parkingSpaces" value="@Model.ParkingSpaces" required>
                            <span class="text">Espacios</span>
                            <span class="line"></span>
                        </div>
                    </div>

                </div>
                <div class="row100">
                    <div class="col">
                        <div class="inputBox textarea">
                            <textarea required="" name="description">@Model.Description</textarea>
                            <span class="text">Descripción</span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col" id="DataPrice" style="display:none">
                        <div class="inputBox">
                            <input type="number" name="price" value="@Model.Price" step="0.01">
                            <span class="text">Tarifas</span>
                            <span class="line"></span>
                        </div>
                    </div>
                </div>
                <h3>Imagen del Parqueo</h3>
                <div class="row100">
                    <div class="col cadImage">
                        <div class="inputBox text ">
                            <input hidden="hidden" type="text" name="txtId" value="@Model.IdLocation">
                            <input hidden="hidden" type="text" name="txtStatus" value="@Model.StatusLocation">
                            <input hidden="hidden" type="text" name="txtUrlImg" value="@Model.UrlImage">
                            <input hidden="hidden" type="text" name="txtNameImg" value="@Model.NameImage">
                            <input type="file" name="file" accept="image/png,image/jpeg,image/jpg" id="file" hidden onchange="vista_preliminar(event)">
                            <label for="file" id="selector">@Model.NameImage</label>
                            <br>
                            <img class="imgWhite" src="@Model.UrlImage" alt="" id="imgFoto">
                        </div>
                    </div>
                </div>
                <br />
                <h3>Imagen del Croquis</h3>
                <div class="row100">
                    <div class="col cadImage">
                        <div class="inputBox text ">
                            <input hidden="hidden" type="text" name="txtUrlImgDesign" value="@Model.UrlImageDesign">
                            <input hidden="hidden" type="text" name="txtNameImgDesign" value="@Model.NameImageDesign">
                            <input type="file" name="fileDesign" accept="image/png,image/jpeg,image/jpg" id="croquis" hidden onchange="vista_preliminarCroquis(event)">
                            <label for="croquis" id="selectorCroquis">@Model.NameImage</label>
                            <br>
                            <img class="imgWhite" src="@Model.UrlImageDesign" alt="" id="imgFotoCroquis">
                        </div>
                    </div>
                </div>
                <div class="row100">
                    <div class="col ">
                        <div class="colb">
                            <input type="submit" value="Modificar">
                            <a class="btnC" href="/Locations/LocationsList">Cancelar</a>
                        </div>

                    </div>

                </div>

            </div>
        </section>
    </form>
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtFqDJ3PeclA4FbDx9-uYvhil8NV1Mu7E&callback=initMap">
    </script>
    <script>
        //#region Mapa
        var marker;
        var dato;
        var coords = {};

        initMap = function () {

            navigator.geolocation.getCurrentPosition(
                function (position) {
                    coords = {
                        lng: -66.155439,
                        lat: -17.392097
                    };
                    setMapa(coords);
                    seleccionar();
                }, function (error) { console.log(error); });

        }

        function seleccionar() {
            let Select = document.getElementById('Select');
            dato = Select.value;
            document.getElementById("latitude").value = @latitude;
            document.getElementById("lenght").value = @lenght;

                document.getElementById("latitudeTwo").value = @latitudeTwo;
                document.getElementById("lenghtTwo").value = @lenghtTwo;


            var dataTwo = document.getElementById("dataTwo");
            var price = document.getElementById("DataPrice");

            setMapa(coords);
            if (dato == 'No Tarifado') {
                dataTwo.style.display = "none";
                price.style.display = "none";
            } else {
                dataTwo.style.display = "block";
                price.style.display = "block";
            }
        }

        function setMapa(coords) {
            var map = new google.maps.Map(document.getElementById('map'),
                {
                    zoom: 13,
                    center: new google.maps.LatLng(Number(@latitude), Number(@lenght)),

                });

            marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: new google.maps.LatLng(Number(@latitude), Number(@lenght)),

            });

            marker.addListener('click');
            if (dato == 'Tarifado') {
                var initialMarker = { lat: Number(document.getElementById("latitude").value), lng: Number(document.getElementById("lenght").value) };
                var finalMarker = { lat: Number(document.getElementById("latitudeTwo").value), lng: Number(document.getElementById("lenghtTwo").value) };
                var line = new google.maps.Polyline();
            }
            marker.addListener('dragend', function (event) {
                document.getElementById("latitude").value = this.getPosition().lat();
                document.getElementById("lenght").value = this.getPosition().lng();
                if (dato == 'Tarifado') {
                    var initialMarker = { lat: Number(document.getElementById("latitude").value), lng: Number(document.getElementById("lenght").value) };
                    var finalMarker = { lat: Number(document.getElementById("latitudeTwo").value), lng: Number(document.getElementById("lenghtTwo").value) };
                    line.setMap(null);
                    line = new google.maps.Polyline({ path: [initialMarker, finalMarker], map: map })
                }
            });

            ////

            if (dato == 'Tarifado') {
                markerTwo = new google.maps.Marker({
                    map: map,
                    draggable: true,
                    animation: google.maps.Animation.DROP,
                    position: new google.maps.LatLng(Number(@latitudeTwo), Number(@lenghtTwo)),

                });
                markerTwo.setIcon('/Imagen/endMarker.png')
                markerTwo.addListener('click');
                var initialMarker = { lat: Number(document.getElementById("latitude").value), lng: Number(document.getElementById("lenght").value) };
                var finalMarker = { lat: Number(document.getElementById("latitudeTwo").value), lng: Number(document.getElementById("lenghtTwo").value) };
                var line = new google.maps.Polyline({ path: [initialMarker, finalMarker], map: map });
                markerTwo.addListener('dragend', function (event) {
                    document.getElementById("latitudeTwo").value = this.getPosition().lat();
                    document.getElementById("lenghtTwo").value = this.getPosition().lng();
                    var initialMarker = { lat: Number(document.getElementById("latitude").value), lng: Number(document.getElementById("lenght").value) };
                    var finalMarker = { lat: Number(document.getElementById("latitudeTwo").value), lng: Number(document.getElementById("lenghtTwo").value) };
                    line.setMap(null);
                    line = new google.maps.Polyline({ path: [initialMarker, finalMarker], map: map })
                });
            }

        }

        //#endregion

        //#region parqueo
        var loader = function (e) {
            let file = e.target.files;
            let show = "" + file[0].name;
            let output = document.getElementById('selector');
            output.innerHTML = show;
            output.classList.add("active");
        };
        let fileInput = document.getElementById("file");
        fileInput.addEventListener("change", loader);
        let vista_preliminar = (event) => {
            let leer_img = new FileReader();
            let id_img = document.getElementById('imgFoto');

            leer_img.onload = () => {
                if (leer_img.readyState == 2) {
                    id_img.src = leer_img.result;
                }
            }
            leer_img.readAsDataURL(event.target.files[0])
        }
        //#endregion
        //#region Croquis
        var loaderC = function (e) {
            let file = e.target.files;
            let show = "" + file[0].name;
            let output = document.getElementById('selectorCroquis');
            output.innerHTML = show;
            output.classList.add("active");
        };
        let fileInputCroquis = document.getElementById("croquis");
        fileInputCroquis.addEventListener("change", loaderC);
        let vista_preliminarCroquis = (event) => {
            let leer_img = new FileReader();
            let id_img = document.getElementById('imgFotoCroquis');

            leer_img.onload = () => {
                if (leer_img.readyState == 2) {
                    id_img.src = leer_img.result;
                }
            }
            leer_img.readAsDataURL(event.target.files[0])
        }
            //#endregion
    </script>
</body>
</html>

